* {
  box-sizing: border-box;
}

.menu {
  text-decoration: none;
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  text-decoration: none;
  background-color: #2337eb;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: white;
}

.main {
  text-decoration: none;
  float: left;
  width: 60%;
  padding: 0 20px;
  color : black;
}

.right {
  text-decoration: none;
  background-color: #2337eb;
  float: right;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
  }
  
  .left {
  text-decoration: none;
  background-color: #2337eb;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
  color: #c5c9d1;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #0c00b3;
}
@media only screen and (max-width: 450px) {
  /* For mobile phones: */
  .menu, .main, .right, .left, .slideshow-container {
    width: 100%;
  }
}
